*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    margin: 0 auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    width: 60px;
}

.plus{
    background-color: green;
}

.clear{
    background-color: red;
}

.btns{
    display: flex;
}